<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<div class="header">
    <div class="header-logo">
        <img src = "{% static 'vibe-check-logo.png' %}">
    </div>
    <div class="header-menu">
        <div class="header-menu-home">
            <a href="{% url 'home' %}">Home</a>
        </div>
        <div class="header-menu-checklist">
            <a href="{% url 'checklist' %}">Checklist</a></div>
        <div class="header-menu-safety-portal">
            <a href="{% url 'safety-portal' %}">Safety Portal</a></div>
        <div class="header-menu-bar">|</div>
        <div class="header-menu-sign-in">
            <a href="#">Sign in</a></div>
        <div class="header-menu-sign-up">
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
</div>
{% block body %}

{% endblock %}

<div class="footer">
    <div class="footer-section-1">
        Vibe Check 2023. All rights reserved
    </div>
    <div class="footer-section-2">
        |
    </div>
    <div class="footer-section-3">
        Contact: maxine.sandico@obf.ateneo.edu
    </div>
</div>