{% extends 'main/base.html' %}

{% block body %}
<div class="checklist">
    <div class="my-checklists-header">
        My Checklists
    </div>
    <div>
        <button class="new-checklist-button">
            <div class="new-checklist-button-text">
                <p class="new-checklist-button-text-plus">+</p> 
                <p class="new-checklist-button-text-create-new">Create New</p>
            </div>
        </button>
    </div>
    <div class="checklist-modal">
        <div class="checklist-modal-header">
            Creating a New Checklist
        </div>
        <div class="checklist-modal-text">
            This is the "My Checklists" page where you can create and save checklists to help you
            assess whether a residential unit is safe, convenient, and worth the price. Click
            the "Create New" button to make your first list!
        </div>
        <div class="checklist-modal-circles">
            <div class="circle-green"></div>
            <div class="circle-gray"></div>
            <div class="circle-gray"></div>
            <div class="circle-gray"></div>
            <div class="circle-gray"></div>
        </div>
    </div>
</div>
{% endblock %}