{% extends "main/base.html" %}

{% load static %}
{% block body %}
<div class="home">
    <div class="home-body">
        <div class="home-section-1">
            <div class="home-section-1-left">
                <div class="home-section-1-header">
                    Planning to rent or own a residential
                    unit? Not sure if it's
                    <span class="home-section-1-header-highlight">
                        earthquake-resistant?
                    </span>
                </div>
                <div class="home-section-1-p">
                    With Vibe Check, you can compare
                    and contrast different units
                    based on
                    <span class="home-section-1-p-highlight">
                        earthquake safety</span>,
                    <span class="home-section-1-p-highlight">
                        price</span>,
                    <span class="home-section-1-p-highlight">
                        convenience</span>!
                </div>
                <!-- <div class="home-section-1-button"> -->
                <div>
                    <button class="home-section-1-button">
                        <div class="home-section-1-button-text">Learn more</div>
                    </button>
                </div>
            </div>
            <div class="home-section-1-right">
                <img src = "{% static 'home-image1.png' %}">
            </div>
        </div>
        <div class="home-section-2">
            <div class="home-section-2-header">
                Having trouble with spotting red flags?
            </div>
            <div class="home-section-2-flags">
                <img src = "{% static 'home-image2.png' %}">
            </div>
            <div class="home-section-2-p">
                Are you planning to purchase or lease a property but you're not sure if the structure is safe
                enough to withstand disasters like earthquakes? If so, then Vibe Check is for you!
            </div>
        </div>
        <div class="home-buildings">
            <img src="{% static 'home-buildings.png' %}">
        </div>
        <div class="home-section-3">
            <div class="home-section-3-left">
                <img src= "{% static 'home-image3.png' %}">
            </div>
            <div class="home-section-3-right">
                <div class="home-section-3-right-header">
                    What exactly is Vibe Check?
                </div>
                <div class="home-section-3-right-p">
                    Vibe Check is an online tool specifically designed to help consumers assess whether or not a 
                    property meets the minimum requirements to be considered earthquake-resistant and safe to 
                    inhabit.
                    <br><br>
                    It guides users to ask the right questions with regards to safety and provides an efficient way 
                    to narrow down the best property options at a glance.
                </div>
                <div>
                    <button class="home-section-3-button">
                        <div class="home-section-3-button-text">Try now</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="home-section-4">
            <div class="home-section-4-header">
                Why bother spotting red flags before making a purchase?
            </div>
            <div class="home-section-4-image">
                <img src="{% static 'home-image-4.png' %}">
            </div>
            <div class="home-section-4-p">
                All businesses should practice mandatory due diligence which is a legal requirement that ensures 
                no harm will befall their customers who avail of their products and services. Unfortunately, there 
                are instances when businesses do not practice mandatory due diligence. This is why consumers need 
                to know how to spot red flags and protect themselves from establishments that fail to take 
                legally-required safety measures against risks such as safety hazards. 
            </div>
        </div>
        <div class="home-section-5">
            <div class="home-section-5-header">
                Acknowledgements
            </div>
            <div class="home-section-5-p">
                This site has been conceptualized, designed, and published by Maxine Sophiya Sandico, an 
                Information Design student in fulfillment of the thesis requirements of the Ateneo de Manila 
                University. This was accomplished under the guidance of her thesis adviser, Joi Marie Angelica M. 
                Indias. 
                <br><br>
                This site was coded by Marielle G. Montero, a web developer and graduate of the Ateneo de Manila 
                BS Computer Science program. She is currently pursuing a Master of Science in Computer Science.
            </div>
            <div class="home-section-5-img">
                <img src="{% static 'home-image-5.png' %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}