{% extends "main/base.html" %}
{% load static %}

{% block body %}

<div class="signup-success-body">
    <div class="signup-success">
        <div class="signup-success-header">
            Congratulations!
        </div>
        <div class="signup-success-p">
            You've successfully signed up. You may now begin filling up your own checklists. ✔
        </div>
        <button class="signup-success-button">
            <div class="signup-success-button-text">
                Start now
            </div>
        </button>
        <div class="signup-success-image">
            <img src="{% static 'signup-success.png' %}">
        </div>
    </div>
</div>

{% endblock %}

