/* Property Create View */
.new-checklist {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}

.new-checklist-section-1 {
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
    flex: 1;
}

.new-checklist-section-2 {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.new-checklist-form-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 5%;
}

.section-price, .section-safety, .section-convenience {
    background: #EDEFF2;
    border-radius: 12px;
    margin: 1%;
    padding: 2%;
}

.new-checklist-buttons {
    display:flex;
    width: 30%;
    justify-content: space-between;
}

.property-input-field {
    background: #EDEFF2;
    border-radius: 12px;

    height: 5vh;
    width: 50vh;
}

.property-input-field::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    
    color: #505358;
}

/* Checklist */
.checklist {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}

.my-checklists-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #505358;
}

.new-checklist-button {
    height: 30vh;
    width: 20vh;
    border: 4px dashed #C4C4C4;
    border-radius: 7px;

    background: white;
}

.new-checklist-button-text-plus {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140.62%;
    /* or 90px */
    
    color: #C4C4C4;
}

.new-checklist-button-text-create-new {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */
    
    text-align: center;
    
    color: #C4C4C4;
    
}
.checklist-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.checklist-modal-header {
    padding: 2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140.62%;
    
    text-align: center;
    
    color: #505358;
}

.checklist-modal-text {
    width: 50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.62%;
    /* or 22px */
    
    text-align: center;
    
    color: #505358;
}

.checklist-modal-circles {
    display: flex;
    padding: 2%;
    width: 20%;
    justify-content: space-between;
}

.circle-green {
    height: 2vh;
    width: 2vh;
    background-color: #4CAB3C;
    border-radius: 50%;
}

.circle-gray {
    height: 2vh;
    width: 2vh;
    background-color: C4C4C4;
    border-radius: 50%;
}

/* Sign Up */
.signup {
    display: flex;
    padding-top: 5%;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: space-between;

    padding-top: 3%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    
    /* 9 black */
    
    color: #000000;
}

.signup-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    padding-bottom: 2.5vh;
    letter-spacing: -0.02em;
    
    color: #5A6474;
}

.signup-form-input-fields {
    height: 100vh;
}

.signup-form-element {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vh;
}

.signup-input-field {
    background: #EDEFF2;
    border-radius: 12px;
    border-color: #EDEFF2;

    height: 5vh;
    width: 100%;
}

.signup-form-signin-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140.62%;
    /* or 22px */
    
    
    color: #000000;   
}

.signup-form-button-wrap {
    text-align: center;
}

.signup-form-button {
    display: flex;
    margin: auto;
    align-items: stretch;
    text-align: center;

    background: #3EB207;
    border-radius: 5px;
    border-color: #3EB207;
    height: 8vh;
    width: 25vh;

}

.signup-form-button-text {
    display: flex;
    margin: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

/* Signup Success */
.signup-success-body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
}

/* Base */
.footer {
    width: 70%;
    justify-content: space-between;
    align-self: center;
    /* padding-left: 10%;
    padding-right:10%; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140.62%;
    /* identical to box height, or 22px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #505358;
}

.header {
    position: fixed;
    display: flex;
    order: 1;

    top: 0;
    width: 100%;
    height: 12.5%;

    background-color: white;
}

.header-logo {
    display: flex;
    /* margin-right: auto; */
}

.header-logo img {
    object-fit: contain;
    width: 50%;
}
.header-menu {
    display: flex;
    flex-grow: 1.2;
    justify-content: space-around;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140.62%;
    /* identical to box height, or 28px */
    
    color: black;
}
.header-menu-bar {
    
    color: #C4C4C4;
}

/* Home Page */
.home {
    display: flex;
    background: white;
}

h1 {
    color: blue;
}

.home-body {
    position: absolute;
    width: 1728px;
    height: 1651px;
    left: 0px;
    top: 179px;
}

.home-section-1 {
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 144px;
    top: 0px;

    background: #F2F2F2;
    
}
.home-section-1-header {
    position: absolute;
    width: 399px;
    height: 181.86px;
    left: 135px;
    top: 164px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #5A6474;
}

.home-section-1-p {
    position: absolute;
    width: 422px;
    height: 91.45px;
    left: 135px;
    top: 364px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145.23%;
}

.home-section-1-button {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #3EB207;
    border-radius: 5px;

    position: absolute;
    width: 200px;
    height: 62.35px;
    left: 135px;
    top: 473px;
}

.home-section-1-button-text {
    position: absolute;
    height: 22px;
    left: 25px;
    right: 24px;
    top: calc(50% - 22px/2 - 0.18px);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.home-section-1-right {
    box-sizing: border-box;

    position: absolute;
    width: 670px;
    height: 480px;
    left: 635px;
    top: 110px;
    
    background: #FFFFFF;
    border-radius: 4px;
}

.home-section-1-p-highlight {
    color: #EA5838;
}

.home-section-1-header-highlight {
    color: #3EB207;
}

.home-section-2 {
    position: absolute;
    width: 452.25px;
    height: 265px;
    left: 638px;
    top: 760px;
}


.home-section-2-header {
    position: absolute;
    width: 351px;
    height: 88px;
    left: 51px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.home-section-2-flags {
    position: absolute;
    width: 452.25px;
    height: 72.25px;
    left: 0px;
    top: 113px;
}

.home-section-2-p {
    position: absolute;
    width: 538px;
    height: 59px;
    left: -43px;
    top: 210.25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #000000;
}

.home-section-3 {
    position: absolute;
    width: 1728px;
    height: 568px;
    left: 0px;
    top: 1085px;
}

.home-section-3-left {
    position: absolute;
    width: 496px;
    height: 348px;
    left: 265px;
    top: 110px;
}

.home-section-3-right-header {
    position: absolute;
    width: 332px;
    height: 88px;
    left: 1107px;
    top: 114px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
    
    color: #000000;
}

.home-section-3-right-p {
    position: absolute;
    width: 587px;
    height: 140px;
    left: 852px;
    top: 228px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145.23%;
    /* or 23px */
    
    text-align: right;
    
    color: #000000;
}

.home-section-3-button {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 1239px;
    top: 394px;
    
    border: 3px solid #3EB207;
    border-radius: 5px;
}

.home-section-3-button-text {
    position: absolute;
    height: 22px;
    left: 25px;
    right: 24px;
    top: calc(50% - 22px/2);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #3EB207;
}