/* Safety Portal */
.safety-portal {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin: 2%;
}

.safety-portal-detective-modal-button {
    position: absolute;
    background: none;
    object-fit: contain;
    width: 10%;
    border: none;

    left: 67vh;
    top: -2vh;
    cursor: pointer;
}
.safety-portal-sites {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.safety-portal-detective-modal-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    
    color: #4CAB3C;
    text-align: center;
    margin: 2%;
}
    
.safety-portal-detective-modal {
    display: flex;
    position: absolute;
    align-items: center;
    width: 70vh;
    height: 20vh;
    left: 100vh;
    top: 20vh;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #D4F6C3;
    border: 1px solid #D4F6C3;
    border-radius: 2px;
}

.safety-portal-detective-image {
    position: absolute;
    object-fit: contain;
    width: 20%;
    /* width: 271px;
    height: 454px; */
    left: 170vh;
    top: 30vh;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.safety-portal-1-text, .safety-portal-2-text, .safety-portal-3-text {
    margin: 2%;
}
.safety-portal-1-bar, .safety-portal-2-bar, .safety-portal-3-bar {
    opacity: 0.2;
    border: 2px solid #505358;
    
    height: 20vh;

    /* transform: rotate(90deg); */
}

.safety-portal-1 img {
    object-fit: contain;
    width: 70%;
}

.safety-portal-2 img {
    object-fit: contain;
    width: 70%;
}

.safety-portal-3 img {
    object-fit: contain;
    width: 70%;
}

.safety-portal-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    vertical-align: middle;
    
    color: #505358;
}

.safety-portal-1, .safety-portal-2, .safety-portal-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

/* Property Create View */
.new-checklist {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}

.new-checklist-section-1 {
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
    flex: 1;
}

.new-checklist-section-2 {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.new-checklist-form-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 5%;
}

.section-price, .section-safety, .section-convenience {
    background: #EDEFF2;
    border-radius: 12px;
    margin: 1%;
    padding: 2%;
}

.new-checklist-buttons {
    display:flex;
    width: 30%;
    justify-content: space-between;
}

.property-input-field {
    background: #EDEFF2;
    border-radius: 12px;

    height: 5vh;
    width: 50vh;
}

.property-input-field::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    
    color: #505358;
}

/* Checklist */
.checklist {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}

.my-checklists-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #505358;
}

.new-checklist-button {
    height: 30vh;
    width: 20vh;
    border: 4px dashed #C4C4C4;
    border-radius: 7px;

    background: white;
}

.new-checklist-button-text-plus {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140.62%;
    /* or 90px */
    
    color: #C4C4C4;
}

.new-checklist-button-text-create-new {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */
    
    text-align: center;
    
    color: #C4C4C4;
    
}
.checklist-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.checklist-modal-header {
    padding: 2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140.62%;
    
    text-align: center;
    
    color: #505358;
}

.checklist-modal-text {
    width: 50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.62%;
    /* or 22px */
    
    text-align: center;
    
    color: #505358;
}

.checklist-modal-circles {
    display: flex;
    padding: 2%;
    width: 20%;
    justify-content: space-between;
}

.circle-green {
    height: 2vh;
    width: 2vh;
    background-color: #4CAB3C;
    border-radius: 50%;
}

.circle-gray {
    height: 2vh;
    width: 2vh;
    background-color: C4C4C4;
    border-radius: 50%;
}

/* Sign Up */
.signup {
    display: flex;
    padding-top: 5%;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: space-between;

    padding-top: 3%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    
    /* 9 black */
    
    color: #000000;
}

.signup-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    padding-bottom: 2.5vh;
    letter-spacing: -0.02em;
    
    color: #5A6474;
}

.signup-form-input-fields {
    height: 100vh;
}

.signup-form-element {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vh;
}

.signup-input-field {
    background: #EDEFF2;
    border-radius: 12px;
    border-color: #EDEFF2;

    height: 5vh;
    width: 100%;
}

.signup-form-signin-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140.62%;
    /* or 22px */
    
    
    color: #000000;   
}

.signup-form-button-wrap {
    text-align: center;
}

.signup-form-button {
    display: flex;
    margin: auto;
    align-items: stretch;
    text-align: center;

    background: #3EB207;
    border-radius: 5px;
    border-color: #3EB207;
    height: 8vh;
    width: 25vh;

}

.signup-form-button-text {
    display: flex;
    margin: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

/* Signup Success */
.signup-success-body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
}

/* Base */
.footer {
    display: flex;
    align-items: center;
    text-align: center;

    /* width: 70%; */
    justify-content: space-between;
    padding-left: 10%;
    padding-right:10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140.62%;
    /* identical to box height, or 22px */
    
    
    
    color: #505358;
}

.header {
    position: fixed;
    display: flex;
    order: 1;

    top: 0;
    width: 100%;
    height: 12.5%;

    background-color: white;
}

.header-logo {
    display: flex;
    margin: 0.5%;
    /* margin-right: auto; */
}

.header-logo img {
    object-fit: contain;
    width: 50%;
}
.header-menu {
    display: flex;
    flex-grow: 1.2;
    justify-content: space-around;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140.62%;
    /* identical to box height, or 28px */
    
    color: black;
}

.header-menu a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140.62%;
    /* identical to box height, or 28px */
    
    all: unset;
    cursor: pointer;
    color: #505358;
}
.header-menu-bar {
    
    color: #C4C4C4;
}

/* Home Page */
.home {
    display: flex;
    background: white;
}

h1 {
    color: blue;
}

.home-body {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;

    /* margin: 2%; */
}

.home-buildings {
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-buildings img {
    object-fit: contain;
    width: 100%;
}
.home-section-1 {
    display: flex;
    background: #F2F2F2;
    justify-content: space-around;
    height: 55vh;

    margin: 2%;
    padding: 5%;
}

.home-section-1-left {
    display: flex;
    flex-direction: column;
    margin: 1%;
    justify-content: space-between;

    width: 45%;
}

.home-section-1-right {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    background: #FFFFFF;
    border-radius: 4px;
    /* width: 40%; */
}

.home-section-1-right img {
    object-fit: contain;
    width: 90%;
}

.home-section-1-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #5A6474;
}

.home-section-1-p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145.23%;
}

.home-section-1-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #3EB207;
    border-color: #3EB207;
    border-radius: 5px;
    cursor: pointer;
    height: 10vh;
    width: 30vh;
}

.home-section-1-button-text {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.home-section-1-p-highlight {
    color: #EA5838;
}

.home-section-1-header-highlight {
    color: #3EB207;
}

.home-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5%;

    height: 40vh;
    width: 50%;
}


.home-section-2-header {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.home-section-2-p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #000000;
}

.home-section-3 {
   display: flex;
   justify-content: space-between;

   width: 100%;
   margin: 2%;
   background: #F2F2F2;
}

.home-section-3-left {
    display: flex;
    justify-content: center;
    margin: 10%;
}
.home-section-3-left img {
    object-fit: contain;
    width: 100%;
}

.home-section-3-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    margin: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 40%;
}
.home-section-3-right-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
    
    color: #000000;
}

.home-section-3-right-p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145.23%;
    /* or 23px */
    
    text-align: right;
    
    color: #000000;
}

.home-section-3-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #3EB207;
    border-radius: 5px;
    cursor: pointer;

    width: 30vh;
    height: 8vh;
}

.home-section-3-button-text {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #3EB207;
}

.home-section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 50vh;
    width: 65%;
    margin: 5%;
}

.home-section-4-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.home-section-4-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140.62%;
    /* or 25px */
    
    text-align: center;
    
    color: #000000;
}

.home-section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 60vh;
    width: 100%;
    margin-bottom: 5%;

    background: #F2F2F2;
}

.home-section-5-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 145.23%;
    /* identical to box height, or 52px */
    margin-top: 2%;
    text-align: center;
    
    color: #000000;
}

.home-section-5-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145.23%;
    /* or 20px */
    
    text-align: center;
    width: 80%;
    
    color: #000000;
}